/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: 'MuseoSans500';
    src: url('fonts/museosans_500-webfont.eot');
    src: local('?'), url('fonts/museosans_500-webfont.woff') format('woff'), url('fonts/museosans_500-webfont.ttf') format('truetype'), url('fonts/museosans_500-webfont.svg#webfontr3rD8cn7') format('svg');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 12px;
    background: #EEE;
    color: #333;
}

body {
    padding: 20px 0;
}

header, section, article, footer, nav, form {
    display: block;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

a {
    color: #00AEEF;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}

h1, h2 {
    font-family: 'MuseoSans500', sans-serif;
    margin: .75em 0 .5em 0;
    font-weight: normal;
    color: #666;
    line-height: normal;
    position: relative; /*for IE6*/
}
h1 {
    font-size: 2.3em;
    background: url(../img/divider.png) repeat-x 0 100%;
    padding: 0 0 5px;
}
h2 {
    font-size: 2em;
}

h1 a, h2 a {
    text-decoration: none;
}

pre {
    background: #EEE;
    display: block;
    border: 1px solid #CCC;
    padding: 10px 12px;
}
pre.long {
    padding-bottom: 20px;
    overflow: auto;
    overflow-y: hidden;
    width: 584px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    font-size: 1em;
    vertical-align: top;
    text-align: left;
    padding: .1em .5em;
    border: 1px solid #CCC;
}



/*
 * Page Layout
 */

#page {
    position: relative;
    width: 650px;
    margin: 0 auto;
    padding: 0 250px 0 20px;
    background: #00AEEF;
    -webkit-box-shadow: #999 0 0 12px;
    -moz-box-shadow: #999 0 0 12px;
    box-shadow: #999 0 0 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/pie/PIE.htc);
}

#pageHeader {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 600px;
    padding: 20px 25px;
}

#pageHeader .logo {
    float: right;
}

#pageHeader .tagline {
    float: right;
    height: 120px;
    line-height: 120px;
    margin: 3px 18px;
    padding: 0 22px;
    text-transform: lowercase;
    font-family: 'MuseoSans500', sans-serif;
    font-size: 20px;
    color: #00AEEF;
    background: url(../img/divider.png) repeat-y 100% 0;
}

#pageContent {
    position: relative;
    top: -20px;
    z-index: 1;
    background: #FFF;
    padding: 185px 20px 20px;
    line-height: 1.5em;
    -webkit-box-shadow: #777 0 0 10px;
    -moz-box-shadow: #777 0 0 10px;
    box-shadow: #777 0 0 10px;
    behavior: url(/pie/PIE.htc);
}

#mainNav {
    position: absolute;
    top: 65px;
    left: 650px;
    width: 250px;
    padding: 10px 0;
    overflow: hidden;
}
#mainNav.ie8 {
    /* workaround for weird bug where IE8 draws a 1px line outside the overflow:hidden container */
    clip: rect(0,250px,1000px,1px);
}
#mainNav .menu,
#mainNav .menu li {
    display: block;
    list-style: none;
    margin: 0 0 6px;
    padding: 0;
    width: 220px;
}
#mainNav .menu {
    margin-bottom: 20px;
}
#mainNav .menu li a {
    display: block;
    position: relative;
    color: #FFF;
    padding: 2px 20px 1px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'MuseoSans500', sans-serif;
    behavior: url(/pie/PIE.htc);
    -pie-background: none;
    border-radius: 1px; /*force PIE rendering - avoids inconsistent positioning bug on hover*/
}
#mainNav .menu li a:hover {
    /*causes flicker before PIE re-renders: background: #008ECF;*/
    background: -webkit-gradient(linear,0 0,100% 0,from(#008ECF),to(#00AEEF));
    background: -moz-linear-gradient(to right,#008ECF,#00AEEF);
    -pie-background: linear-gradient(to right,#008ECF,#00AEEF);
    border-radius: 0; /*undo above*/
}
#mainNav .menu li.current_page_item a,
#mainNav .menu li.current-page-ancestor a,
#mainNav .menu li.current_page_parent a {
    background: #FFF;
    -pie-background: #FFF;
    color: #000;
    -webkit-box-shadow: #777 0 0 10px;
    -moz-box-shadow: #777 0 0 10px;
    box-shadow: #777 0 0 10px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

nav#mainNav .outbound {
    margin: 20px 0 0 20px;
    padding: 0 12px;
    border: 0;
    height: 2em;
    line-height: 2em;
    background: #FFF;
    color: #00AEEF;
    -webkit-box-shadow: #777 0 0 10px;
    -moz-box-shadow: #777 0 0 10px;
    box-shadow: #777 0 0 10px;
    behavior: url(/pie/PIE.htc);
    cursor: pointer;
    display: block;
    position: relative;
    text-align: right;
    text-decoration: none;
    font-size: 19px;
    font-weight: normal;
    font-family: 'MuseoSans500', sans-serif;
}
#mainNav button.outbound {
    width: 230px;
}
#mainNav button.outbound::-moz-focus-inner {
    padding: 0;
}
#mainNav .outbound strong {
    background: url(../img/icons.png) no-repeat 0 2px;
    padding-left: 30px;
    font-weight: normal;
}
#mainNav .outbound:hover {
    -webkit-box-shadow: #444 0 0 10px;
    -moz-box-shadow: #444 0 0 10px;
    box-shadow: #444 0 0 10px;
}

#mainNav .outbound .version {
    color: #999999;
    position: absolute;
    left: 12px;
    top: 6px;
    font-size: 11px;
    line-height: normal;
    text-align: left;
    width: 5em;
}

#mainNav p {
    margin: 0;
}

#mainNav .social,
#mainNav .social li {
    float: right;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    list-style: none;
}
#mainNav .social a {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #FFF;
    background: #666 url(../img/icons.png) no-repeat 50% -45px;
    white-space: nowrap;
    text-indent: 30px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: #666 0 0 5px;
    -moz-box-shadow: #666 0 0 5px;
    box-shadow: #666 0 0 5px;
    behavior: url(/pie/PIE.htc);
}
#mainNav .social .rss a {
    background-position: 50% -79px;
}
#mainNav .social a:hover {
    background-color: #555;
}
#mainNav .social a ie6-mask {
    /*workaround for text-indent making the link non-clickable*/
    text-indent: 0;
    padding-left: 30px;
}

#pageFooter {
    padding: 20px 0 0;
    margin: 20px 0 0;
    background: #FFF url(../img/divider.png) repeat-x 0 0;
    color: #666;
    font-family: 'MuseoSans500', sans-serif;
    text-align: center;
    font-size: 0.9em;
}
#footNav ul {
    margin: 0;
    padding: 0;
}
#footNav li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 .2em 0 .5em;
    border-left: 1px solid #CCC;
}
#footNav #menu-item-40 {
    border: 0;
}
#footNav a {
    color: #666;
}
#pageFooter p {
    margin: .5em 0 0;
}




/*
 * Blog posts
 */
article.post {
    margin: 0 0 2em;
}
article.post footer {
    background: #F6F6F6;
    color: #999;
    padding: .75em 1em;
    text-align: right;
    line-height: normal;
}
article.post footer p {
    margin: 0;
    float: left;
}
article.post footer a {
    margin: 0 0 0 1em;
}

.pagination,
.pagination_single {
    overflow: hidden;
}
.pagination .previous,
.pagination_single .previous {
    float: left;
}
.pagination .next,
.pagination_single .next {
    float: right;
}


/*
 * Comments
 */
section#comments {
    background: #F6F6F6;
    border: 1px solid #CCC;
    padding: 1em 2em;
    margin: 20px 0;
}
section#comments h2 {
    font-size: 1.5em;
    margin: .5em 0;
}
section#comments ol {
    margin: 2em 0;
    padding: 0;
    border-top: 1px solid #CCC;
}
section#comments .li-comment {
    display: block;
    list-style: none;
    border-bottom: 1px solid #CCC;
    margin: 0;
    padding: 1em 0;
}
section#comments .avatar {
    float: left;
    margin: 0 1em 1em 0;
}
section#comments .meta {
    clear: both;
    text-align: right;
    font-style: italic;
    color: #666;
    margin: 1em 0 0;
}


/*
 * Homepage specific
 */

body.home h1 {
    display: none;
}

body.home h2 {
    font-size: 2.3em;
    background: url(../img/divider.png) repeat-x 0 100%;
    padding: 0 0 5px;
}
body.home h2 strong {
    color: #00AEEF;
    text-transform: uppercase;
    font-weight: bold;
}

body.home #intro {
    color: #666;
    font-family: 'MuseoSans500', sans-serif;
}
body.home #intro p {
    margin: 0.5em 0;
}
body.home #intro .text {
    font-size: 2em;
    line-height: 1.5em;
}
body.home #intro strong {
    color: #00AEEF;
}

body.home .more {
    font-size: 1.3em;
    background: #00AEEF;
    font-family: 'MuseoSans500', sans-serif;
    text-align: right;
    position: relative;
    left: -30px;
}
body.home .more a {
    color: #FFF;
    position: relative;
    left: 34px;
    background: url(../img/icons.png) no-repeat 100% 0;
    text-decoration: none;
    padding-right: 40px;
}

body.home #pageFooter {
    background-image: none;
    padding-top: 0;
}

